h1 {
    height: 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    color: grey;
}

.health-description {
    margin: top 20px;
}

span {
    color: orange;
}

p {
    padding-top: 35px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

button {

    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px;
    color: white;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;

}

.food-network {
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
}

img {
    width: 500px;
    height: auto;

}